header{
    position: fixed;
    top:0;
    z-index: 100;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
     text-align: center;
    align-items: center;
    transition: all 0.5s ease;

.logo{
    font-size: 33px;
    color:var(--text-color);
    font-weight: bold;
    span{
        color:var(--main-color);
    }
    margin-left: 20px;
    margin-top: 10px;

  
}
.navbar{
    display: flex;
  

   
    a{
        color:var(--text-color);
        font-size: var(--p-font);
        font-weight: bold;
        margin: 15px 22px;
      display: flex;
       transition: all 0.5s ease;
       text-transform: uppercase;
     
       &:hover{
        color: var(--main-color);
        transform: scale(1.2);
       }


    }
}
.header-right{
    display: flex;
    align-items: center;
    a:first-child{
        font-size: var(--p-font);
    }
    a{
        font-size: 20px;
        color: var(--text-color);
        margin-right: 18px;
        margin-left: 5px;
        transition: all 0.5s ease;
        
        &:hover{
            color: var(--main-color);
            transform: translateY(-3px);
         
        }
    }

}


}